* {
  margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
  line-height:1.5;	/*全要素の行の高さを1.5倍にする*/
  color:#333333;		/*文字色*/
} 

html {
  height: auto;
  background: #cceeff
}

article {
  height: 100%; width: 90%; max-width: 1000px;
  margin: auto;
  margin-top: 65px;
  background-color:#f9f9f9;	/*ページ全体の背景色*/
  text-align:center;		/*IE6以下でセンタリングするための対策*/
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  box-shadow: 0 0 4px;
}

/***** nav *****/
nav { position: fixed; top: 0; left: 0; width: 100%; } /*スクロールしないようにする*/
nav * { 
  color: aliceblue;
}
nav ul {
  height:40px;
  background-color:#242655;
  overflow-x: auto;
}
nav li{
  float:left;			/*リスト項目を横に並べる*/
  display:inline;			/*リスト項目をインライン表示にする*/
  list-style-type:none;		/*リストマーカー無しにする*/
  height:100%;
  overflow: hidden;
}

nav li a {
  display:block;				/*リンクをブロック表示にする*/
  height:100%;
  text-decoration:none; 			/*リンクの下線を無くす*/
  display: flex; align-items: center; justify-content: center; /*上下左右の中央配置*/
}
nav li a:hover {
  background-color:#32356f;
}
nav li a:before{ content: "　" }
nav li a:after{ content: "　" }

/***** footer *****/
footer {
  display: flex; align-items: center; justify-content: center; /*上下左右の中央配置*/
  width:100%;
  height:25px;
  bottom:0;
  text-align:center;
  overflow:hidden;
}
footer p {
  font-size: 14px;
  color:gray;
}

img {
  width: 100px;
  height: auto;
  
  transition: all 300ms ease;
}

img:hover {
  width: 200px;
  height: auto
}