<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/mytemplate.css" />
<link rel="shortcut icon" href="/img/icon.ico">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<title>{{ page.title }}</title>

<!-- 数式の設定 -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  messageStyle: 'none',
  displayAlign: "left",
  displayIndent: "2em",
  tex2jax: {
    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
    processEscapes: true
  }//,
  //TeX: { Macros: { } }
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML&locale=ja"></script>

<!-- ソースコードの設定 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.2.0/highlightjs-line-numbers.min.js"></script>
<script>
$(function() {
  hljs.configure({
    tabReplace: "    ",	// 4文字分の半角スペース
  });
  $('pre code').each(function(i, block) {
    if($(this).attr('src') !== void 0) {
      var precode = $(this);
      $.get($(this).attr('src'), function(data) {
        precode.text(data);
        hljs.highlightBlock(block);
        hljs.lineNumbersBlock(block);
      });
    }
  });
  $('pre.highlight code').each(function(i, block) {
    $(this).text($(this).text().slice(0, -1)); // 末尾の空行を消す
    hljs.highlightBlock(block);
    hljs.lineNumbersBlock(block);
  });
});
</script>
<style>
/* for block of numbers */
td.hljs-ln-numbers {
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px !important;

  /* your custom style here */
}
/* for block of code */
td.hljs-ln-code {
  padding-left: 5px !important;
}
</style>