<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/mytemplate.css" />
<link rel="shortcut icon" href="/img/icon.ico">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<title>{{ page.title }}</title>

<!-- 数式の設定 -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  messageStyle: 'none',
  displayAlign: "left",
  displayIndent: "2em",
  tex2jax: {
    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
    processEscapes: true
  }//,
  //TeX: { Macros: { } }
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML&locale=ja"></script>

<!-- ソースコードの設定 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<style> /* 行番号のスタイル */
  code ul{margin-left:-35px; list-style:none; counter-reset: line;}
  code li{counter-increment: line;}
  code li:before{content: counter(line);text-align: right;width: 30px;display: inline-block;border-right:solid 1px #ffffff;margin-right:5px;padding-right:5px;}
</style>
<script>
$(function() {
  hljs.configure({
    tabReplace: "    ",	// 4文字分の半角スペース
  });
  $('pre code').each(function(i, block) {
    if($(this).attr('src') !== void 0) {
      var precode = $(this);
      $.get($(this).attr('src'), function(data) {
        precode.text(data);
        hljs.highlightBlock(block);
        var current = precode,
          lineStart = parseInt(current.data('line-start')),
          lineFocus = parseInt(current.data('line-focus')),
          items = current.html().split("\n"),
          total = items.length,
          result = '<ul ' + (!isNaN(lineStart) ? 'start="' + lineStart + '"' : '') + '>';
        for (var i = 0; i < total; i++) {
          result += '<li>' + (items[i].length>0?items[i]:" ") + '</li>';
        }
        result += '</ul>';
        var items = current.empty().append(result);
      });
    }
  });
  $('pre.highlight code').each(function(i, block) {
    $(this).text($(this).text().slice(0, -1)); // 末尾の空行を消す
    hljs.highlightBlock(block);
    var current = $(this),
      lineStart = parseInt(current.data('line-start')),
      lineFocus = parseInt(current.data('line-focus')),
      items = current.html().split("\n"),
      total = items.length,
      result = '<ul ' + (!isNaN(lineStart) ? 'start="' + lineStart + '"' : '') + '>';
    for (var i = 0; i < total; i++) {
      result += '<li>' + (items[i].length>0?items[i]:' ') + '</li>';
    }
    result += '</ul>';
    var items = current.empty().append(result);
  });
});
</script>
<script src="/js/copy-button.js"></script>