---
layout: default
---

<div class="container">
<h1>Tag : {{ site.data.tagmap[page.tag] }}</h1>
<hr />

<p>{{page.description}}</p>

{% for collection in site.collections %}
  {% assign tagset = "" %}
  {% for mpost in collection.docs %}
    {% assign tagset = tagset | concat: mpost.tags | uniq %}
  {% endfor %}
  {% if tagset contains page.tag %}
    <h2>{{ collection.label }}</h2>
    <ul>
    {% for mpost in collection.docs %}
      {% if mpost.tags contains page.tag %}
        <li class="tagpage_post">
          <a href="{{ site.baseurl }}{{ mpost.url }}">{{ mpost.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
{% endfor %}
</div>